.profile__header {
    height: 200px;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105__340.png") center center / cover;
}

.profile__info {
    background-color: #fff;
    padding: 10px;
}

.avatar__photo img {
    width: 100px;
    border-radius: 50%;
    position: relative;
}
